.footer-reset {
	background-image: url("../../img_html/footer/footer-reset.png");
	background-size: cover;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.footer-reset:active {
	background-image: url("../../img_html/footer/footer-reset-click.png");
}

.footer-status-off {
	background-image: url("../../img_html/footer/footer-status-off.png");
	background-size: 100% 110%;
	width: 100px;
	height: 40px;
	cursor: pointer;
}

.footer-status-on {
	background-image: url("../../img_html/footer/footer-status-on.png");
	background-size: 100% 110%;
	width: 100px;
	height: 40px;
	cursor: pointer;
}

.footer-queue {
	background-image: url("../../img_html/footer/footer-queue.png");
	background-size: 100% 100%;
	width: 40px;
	height: 30px;
	cursor: pointer;
}

.footer-queue-active {
	background-image: url("../../img_html/footer/footer-queue-active.png") !important;
}

.footer-cs {
	background-image: url("../../img_html/footer/footer-support.png");
	background-size: cover;
	width: 50px;
	height: 30px;
}

.footer-cs:active, .footer-cs:hover {
	background-image: url("../../img_html/footer/footer-support-hover.png");
}

.cs-banner {
	background-image: url("../../img_html/footer/cs-banner.png");
	background-size: cover;
	background-position: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}