html {
  position: relative;
  min-height: 100%;
}

body {
	overflow-x: hidden; width: 100%;
}

textarea {
  resize: none;
}

.footer-merchant {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 48px;
  margin-top: -48px;
  background-color: #f5f5f5;
}

a {
	text-decoration: none !important;
}

button:disabled,button[disabled]{
	cursor: not-allowed;
}

.bg-tosca {
	background-color: rgb(31, 128, 207);
}

.bg-light-gray{
	background-color: rgb(230,230,230);
}

.bg-darker {
	background-color: rgb(30,30,30);
}

.bg-gradient-white-to-gray {
	background-image: linear-gradient(rgb(255,255,255), rgb(200,200,200));
}

.bg-red-custom {
	background-color: rgb(237, 114, 114);
}

.bg-dark-orange {
	background-color: rgb(242, 168, 7);
}

.bg-green-custom {
	background-color: rgb(111, 166, 143);
}

.text-tosca {
	color: rgb(31, 128, 207);
}

.text-shadow {
	text-shadow: 2px 2px 5px rgb(50,50,50);
}

.navbar-landing-page {
	margin-bottom: -76px;
	z-index: 10;
}

.navtext {
	font-size: 30px;
	text-shadow: 1px 1px 5px rgb(50,50,50);
}

.navbar-brand {
	margin-left: 50px;
}

.navbar-main {
	height: 80px;
}

#navbarNav {
	margin-left: 90px;
}

#navbar-link-mobile {
	display: none;
}

.slide-landing-page {
	box-shadow: 0px 5px 5px 1px;
}

.slide-big {
	height: 30vw;
	background-size: cover;
}

.slide-title {
	font-size: 4vw;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.cursor-pointer {
	cursor: pointer;
}

/* This is Landing Page Slide URL Image */
#slide-landing-page-1 {
	background-image: url('../../img/slide-landing-page/slide-1.jpg');
}

#slide-landing-page-2 {
	background-image: url('../../img/slide-landing-page/slide-2.jpg');
}

#slide-landing-page-3 {
	background-image: url('../../img/slide-landing-page/slide-3.jpg');
}
/* End of Landing Page Slide URL Image */

.box-mini {
	min-height: 220px;
}

.border-radius-20 {
	border-radius: 20px;
}

.btn-contact-landing-page {
	min-width: 300px;
}

.vh-100 {
	height: 100vh;
}

.icon-email-sent {
	font-size: 150px;
}

.shadow-soft {
	box-shadow: 2px 2px 10px 0.1px;
}

.shadow-tiny {
	box-shadow: 2px 2px 5px 0.1px;
}

.label-info-danger {
	padding: 5px;
	background-color: rgb(250,100,100);
	border-radius: 5px;
	border-color: rgb(220,80,80);
	border-width: 2px;
	border-style: solid;
	font-size: 14px;
	color: rgb(255,255,255);
}

.alert-fixed {
	position:fixed; 
    top: 50px; 
    right: 10px;
    z-index:1051;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(200,200,200);
}

.box-subscription {
	padding: 20px 20px 50px 20px;
	border-radius: 10px;
}

#auth-decoration {
	background-image: url('../../img_html/login-decoration.png');
	background-size: cover;
}

.subscription-info-table {
	width: 50%;
}

.border-radius-10 {
	border-radius: 10px;
}

@media (max-width: 1200px) {
	#shortcut-selection {
		display: none;
	}
}

@media (max-width: 990px) {
	.navbar-landing-page {
		background-color: rgb(31, 128, 207);
		margin-bottom: 0px;
	}

	.navtext {
		font-size: 25px;
	}

	.navbar-brand {
		margin-left: 0px;
	}

	.navbar-main {
		height: auto;
	}

	#navbarNav {
		margin-left: 10px;
	}

	#navbar-link-mobile {
		display: block;
	}

	#navbar-link-desktop {
		display: none;
	}

	.slide-big {
		height: 50vw;
	}

	.slide-title {
		font-size: 5vw;
	}

	.subscription-info-table {
		width: 100%;
	}

	.footer-merchant {
	  height: 50px;
	  margin-top: 50px;
	  padding-top: 5px;
	}
}